body {
	background: #DDDDDD url(/images/bg.gif) repeat-x;
	width: 960px;
	color: #000000;
	margin: 0px auto 0px;
	padding: 0px;
	
	}
	
#container {
	background: whitesmoke;
	width: 950px;
	margin: 10px auto 10px;
	padding: 0px 20px 20px 20px;
	border: double #C0C0C0;
	}

label {
	display : block;
}